In [1]:
# ASNR Reliablility and Reproducibility in Neurorehabilitation Research
# Data Management Workshop
# Sook-Lei Liew, PhD, OTR/L
# sliew@usc.edu

In [2]:
# jupyter notebook shortcuts: http://maxmelnick.com/2016/04/19/python-beginner-tips-and-tricks.html
# press "escape" to move from edit to command mode (green to blue cells)
# press "shift + enter" to execute sections
# pandas quick review: https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673

In [3]:
# if errors, google how to install the libraries below (e.g., "install os" or "install pandas" or "install numpy")
import pandas as pd
import numpy as np
import os

In [4]:
# initialize directories, variables

#rootdir='/Users/sliew/data/20191016_asnr/'
db_file='ATLAS_data.csv'

# Review Data Quality

In [5]:
#change directory to root dir
#os.chdir(rootdir)
df = pd.read_csv(db_file)

In [6]:
#print dimensions of dataframe (check rows and columns)
print(df.shape)

(229, 15)

In [7]:
#do a basic check of data columns and values
df.head(5)

,INDI_Site_ID,INDI_Subject_ID,Session,Num_Strokes_LH_Cortical,Num_Strokes_LH_subcortical,Num_Strokes_RH_Cortical,Num_Strokes_RH_subcortical,Other_Location,Stroke_type,Primary_Stroke_Location,Primary_Stroke_Location_Hemisphere,Vascular_territory,PVH,DWMH,Notes
0,Site1,31768,t01,0,2,0,0,0,Embolic,"Basal ganglia, corona radiata",Left,Lacunar,2,2,NaN
1,Site1,31769,t01,0,1,0,1,0,Embolic,Basal ganglia,Bilateral,Lacunar,2,2,NaN
2,Site1,31770,t01,0,1,0,0,0,Embolic,"Frontal centrum semiovale, corona radiata",Left,Lacunar,2,3,NaN
3,Site1,31771,t01,0,0,0,1,0,Embolic,"Corona radiata, basal ganglia",Right,Lacunar,1,2,NaN
4,Site1,31772,t01,0,0,0,1,0,Embolic,"Corona radiata, basal ganglia",Right,Lacunar,1,1,NaN

In [8]:
# examine basic data stats
df.describe()

,INDI_Subject_ID,Num_Strokes_LH_Cortical,Num_Strokes_LH_subcortical,Num_Strokes_RH_Cortical,Num_Strokes_RH_subcortical,Other_Location,PVH,DWMH,Notes
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,0.0
mean,31880.602620,0.179039,0.689956,0.135371,0.628821,0.139738,1.480349,1.414847,NaN
std,64.264081,0.447505,0.813771,0.355431,0.770765,0.359876,0.752661,0.809997,NaN
min,31768.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,31825.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,NaN
50%,31882.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,NaN
75%,31939.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,2.000000,NaN
max,31987.000000,2.000000,5.000000,2.000000,5.000000,2.000000,3.000000,3.000000,NaN

In [9]:
#check for missing values
df.isnull().sum()

INDI_Site_ID                            0
INDI_Subject_ID                         0
Session                                 0
Num_Strokes_LH_Cortical                 0
Num_Strokes_LH_subcortical              0
Num_Strokes_RH_Cortical                 0
Num_Strokes_RH_subcortical              0
Other_Location                          0
Stroke_type                             0
Primary_Stroke_Location                 0
Primary_Stroke_Location_Hemisphere      0
Vascular_territory                      0
PVH                                     0
DWMH                                    0
Notes                                 229
dtype: int64

In [10]:
#drop missing values for important colunns
df=df.dropna(subset=['Stroke_type'])

In [ ]:
#fill remaining missing values with 'NA'
df=df.fillna('NA')

In [ ]:
#removing duplicate columns
df=df.loc[:,~df.columns.duplicated()]

In [ ]:
#sort the data by a column's value
df=df.sort_values(by=['INDI_Subject_ID'])

In [ ]:
#renaming columns 
df.rename(columns={'Primary_Stroke_Location_Hemisphere':'Lesion_Hemisphere'}, inplace=True)
df.head(5)

In [ ]:
#reformatting column values (e.g., r001 as string to 1 as integer)
df['SITE_ID']=df['INDI_Site_ID'].apply(lambda x: (x[4:]))
df['SITE_ID']=pd.to_numeric(df['SITE_ID'])
df.head(5)

In [ ]:
#check shape of dataframe
print(df.shape)

In [ ]:
#check out changes
df.head(5)

In [ ]:
# save dataframe to csv (can be read in Matlab or R)
df.to_csv(rootdir+'ATLAS_data_reformatted.csv', index=False)

In [ ]:
# other data scrubbing quick tips

# checking for null values
pd.isnull()
pd.isnull().sum()  #gives sum of all null cells

# drop values
df.dropna() to drop the rows or df.dropna(axis=1)

# replace null values with NA
df.fillna(x)

# replace null values with mean value
s.fillna(s.mean())

# replacing data
s.replace([1,3],['one','three'])

# change index in data frame
df.set_index('column_one')

In [ ]:
# can also write short functions to do things, like merge files based on one common column and output to a csv

def combine_csvs(file1,file2,matchid,outfile):    
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)
    output = pd.merge(df1, df2, how="inner", on=matchid) # matchid should be column name common in both dataframes
    final_output = output.drop_duplicates() # remove duplicate rows 
    final_output.to_csv(rootdir+outfile, index=False)
    return final_output